@media (max-width: 767.98px) { 
   .img{
  width: 120%;
  height: 100%;
}


.font_header{
  color: rgb(41, 41, 41);
  font-size: 15px !important;


}
.font_main{
   font-size: 30px !important;
  
 }


 .profilebg{
  width: 50%;
  height: 80%;
}

    }



    /* ============================================= */
    .font_header{
      color: rgb(41, 41, 41) !important;
      font-size: larger;
   
    }

    .font_main{
     font-size: 60px; 
    }

    .headerbg{
      background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(116, 221, 253) ,rgba(255,0,0,0));
    }

    .profilebg{
      background-image: linear-gradient(to bottom,rgb(255, 255, 255), rgb(176, 235, 253) ,rgb(255, 255, 255));
    }



.image{
border-radius: 10px;
transition: 0.3s;
box-shadow: 0px 0px 20px 0px black;


}

.font{
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.7;
  
  }
  
  span{
      color: #6cb1ff;
  }
  


    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      body {
        font-family: Raleway;
        
      }
      
      .heading {
          text-align: center;
          font-size: 2.0em;
          letter-spacing: 1px;
          padding: 40px;
          color: white;
      }
      
      .gallery-image {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .gallery-image img {
        height: 250px;
        width: 350px;
        transform: scale(1.0);
        transition: transform 0.4s ease;
      }
      
      .img-box {
        box-sizing: content-box;
        margin: 10px;
        height: 250px;
        width: 350px;
        overflow: hidden;
        display: inline-block;
        color: white;
        position: relative;
        background-color: white;
      }
      
      .caption {
        position: absolute;
        bottom: 5px;
        left: 20px;
        opacity: 0.0;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
      
      .transparent-box {
        height: 250px;
        width: 350px;
        background-color:rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease;
      }
      
      .img-box:hover img { 
        transform: scale(1.1);
      }
      
      .img-box:hover .transparent-box {
        background-color:rgba(0, 0, 0, 0.5);
      }
      
      .img-box:hover .caption {
        transform: translateY(-20px);
        opacity: 1.0;
      }
      
      .img-box:hover {
        cursor: pointer;
      }
      
      .caption > p:nth-child(2) {
        font-size: 0.8em;
      }
      
      .opacity-low {
        opacity: 0.5;
      }